/* Add here all your CSS customizations */
.bg-acadia {
  background-color: #32312f !important;
}

.tech-stack {
  width: 40px;
}

.skills {
  width: 30px;
}

.icon-share-custom::before {
  content: '\e05b!important';
}

.section.section.customsection-parallax {
  background-color: rgb(0 0 0 / 0.8);
}
/* Media Queries */

@media (max-width: 576px) {
  .custom-col-xs-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
}

@media (min-width: 768px) {
  .tech-stack-md {
    width: 40px;
  }
}

@media (min-width: 992px) {
  .tech-stack-lg {
    width: 80px;
  }
}
